<div class="row">
    <div
      class="col-md-3 mb-5 animate__animated animate__fadeIn animate__faster"
      *ngFor="let m of movies"
    >
      <img
        [src]="m.poster_path | poster"
        alt=""
        class="img-fluid poster"
        (click)="onMovieClick(m)"
      />
      <h3>
        {{ m.title }}
      </h3>
      <div>
        <div class="row text-white">
          <div class="col-10">
            <star-rating
              [readOnly]="true"
              [starType]="'svg'"
              [numOfStars]="10"
              [showHalfStars]="true"
              [rating]="m.vote_average"
            ></star-rating>
          </div>
          <div class="col-2 text-white">
            {{ m.vote_average | number : "1.0-2" }}
          </div>
        </div>
      </div>
    </div>
  </div>